* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container {
  border-radius: 16px;
  background-color: #fff;
  padding: 32px;
  width: 90%;
  max-width: 700px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.titulo {
font-size: 30px;
margin-bottom: 10px;
font-weight: 600;
}

.dashboard {
    display: flex;
    gap: 16px;
    width: 100%;
}

.dashboard_item {
    border-radius: 16px;
    background-color: #fff;
    padding: 32px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.4);
    width: 50%;
    height: 300px;
}

.luminosidade, .controle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.valor {
    font-size: 40px;
    font-weight: 600;
}


.botao {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px 18px;
    gap: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 120, 255);
    transition: all 0.2s ease-in-out;
}

.botao:hover {
    background-color: rgb(95, 161, 247);
}

#container-barra {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    background-color: #f0f0f0; 
    border-radius: 5px;
    overflow: hidden;
}

/* A barra de progresso que se move */
#barra {
    height: 100%;
    width: 0%;
    background-color: rgb(0, 120, 255);
    transition: width 0.5s ease-in-out;
}